{
    "production": {
        "domain": "{{ hedgedoc_domain }}",
        "urlAddPort": {{ hedgedoc_url_add_port | bool | lower }},
        "loglevel": "info",
        "hsts": {
            "enable": false,
            "maxAgeSeconds": 31536000,
            "includeSubdomains": true,
            "preload": true
        },
        "csp": {
            "enable": true,
            "directives": {
            },
            "upgradeInsecureRequests": "auto",
            "addDefaults": true,
            "addDisqus": false,
            "addGoogleAnalytics": false
        },
        "cookiePolicy": "lax",
        "db": {
            "username": "{{ hedgedoc_database_username }}",
            "password": "{{ hedgedoc_database_password }}",
            "database": "hedgedoc",
            "host": "localhost",
            "port": "5432",
            "dialect": "postgres"
        }
    }
}
