{{ ansible_managed | comment }}

location:
  source_directories:
    - /
  repositories:
{% for repo in borgmatic_repositories %}
    - {{ repo.host }}:{{ repo.path }}/{{ inventory_hostname | replace('.', '-') }}
{% endfor %}
  exclude_caches: true
  exclude_patterns:
  - /boot
  - /dev
  - /home/*/.cache
  - /root/.cache
  - /lib*
  - /media
  - /mnt
  - /proc
  - /run
  - /sys
  - /tmp
  - /usr/src
  - /usr/local/src
  - /var/backups
  - /var/cache
  - /var/lib
  - /var/log
  - /var/run
  - /var/tmp
storage:
  compression: zlib,7
  encryption_passphrase: {{ borgmatic_encryption_passphrase | string | to_json }}
retention:
  keep_daily: 7
  keep_monthly: 6
  keep_weekly: 4
