{{ ansible_managed | comment }}

<<: !include /etc/borgmatic.d/common.yml

source_directories: !retain
  - "/etc/webhook"
  - "/etc/systemd/system/webhook.service"

archive_name_format: webhook_{hostname}-{now}
