{{ ansible_managed | comment }}

listen on localhost

table aliases file:/etc/aliases
table secrets file:/etc/smtpd.secret

action "relay_noreply" relay host "smtps://label@{{ commun_opensmtpd_relay_server }}:465" auth <secrets>
action "relay_default" relay host "smtps://label@{{ commun_opensmtpd_relay_server }}:465" auth <secrets> mail-from "{{ _commun_opensmtpd_email }}"

match mail-from "noreply@*" for any action "relay_noreply"
match for any action "relay_default"
