{{ ansible_managed | comment }}

<<: !include /etc/borgmatic.d/common.yml

source_directories: !retain
  - "/opt/victoriametrics/{{ victoriametrics_version }}"
  - "/etc/victoriametrics"
  - "{{ victoriametrics_storage_path }}/snapshots"
  - "/etc/systemd/system/victoriametrics.service"
  - "/etc/systemd/system/victoriametrics-alert.service"

before_backup:
  - curl --fail --silent -X POST http://localhost:8428/snapshot/create || exit 75
after_backup:
  - curl --fail --silent -X POST http://localhost:8428/snapshot/delete_all

archive_name_format: victoriametrics_{hostname}-{now}
