{{ ansible_managed | comment }}

<<: !include /etc/borgmatic/template.yml

location:
  source_directories:
    - "/opt/victoriametrics/{{ victoriametrics_version }}"
    - "/etc/victoriametrics"
    - "{{ victoriametrics_storage_path }}/snapshots"
    - "/etc/systemd/system/victoriametrics.service"
    - "/etc/systemd/system/victoriametrics-alert.service"

hooks:
  before_backup:
    - curl --fail -X POST http://localhost:8428/snapshot/create || exit 75
  after_backup:
    - rm -rf {{ victoriametrics_storage_path }}/snapshots/*

storage:
  archive_name_format: victoriametrics_{hostname}-{now}

retention:
  prefix: victoriametrics_

consistency:
  prefix: victoriametrics_
