- name: Installation des dépendances obligatoires
  ansible.builtin.package:
    name:
      - tar
      - imagemagick
      - file
    state: present

- name: Installation des dépendances facultatives
  ansible.builtin.package:
    name:
      - gifsicle
      - jpegoptim
      - optipng
      - pngquant
    state: present

- name: Création de l'utilisateur
  ansible.builtin.import_tasks: user.yml
  tags: ['user']

- name: Configuration de la base de données PostgreSQL
  ansible.builtin.import_role:
    name: postgres_db
  vars:
    postgresql_db_name: "{{ mobilizon_owner }}"
    postgresql_db_password: "{{ mobilizon_postgresql_password }}"
  tags: ['postgres']

- name: Installation de la dépendance postgresql pour postgis
  ansible.builtin.package:
    name:
      - postgresql-{{ postgresql_major_version }}-postgis
    state: present
  delegate_to: "{{ postgresql_host }}"
  loop: "{{ postgresql_patroni_hosts }}"
  loop_control:
    loop_var: postgresql_host
  when: postgresql_patroni_hosts | length > 0

- name: Installation de la dépendance postgresql pour postgis
  ansible.builtin.package:
    name:
      - postgresql-{{ postgresql_major_version }}-postgis
    state: present
  delegate_to: "{{ inventory_hostname }}"
  when: postgresql_patroni_hosts | length == 0

- name: Ajout des extensions nécessaires à postgresql
  community.postgresql.postgresql_ext:
    name: "{{ extensions }}"
    db: "{{ mobilizon_owner }}"
  loop:
    - postgis
    - pg_trgm
    - unaccent
  loop_control:
    loop_var: extensions
  become: true
  become_user: postgres
  delegate_to: "{{ postgresql_patroni_primary_host | default(inventory_hostname) }}"

- name: Installation de Caddy2
  ansible.builtin.import_role:
    name: caddy_server
  tags: ['caddy']

- name: Copie de la configuration Caddy2
  ansible.builtin.template:
    src: caddy/mobilizon.j2
    dest: /etc/caddy/conf.d/{{ mobilizon_owner }}.conf
    owner: root
    group: root
    mode: "u=rw,go=r"
    validate: caddy validate --adapter caddyfile --config %s
  notify: Reload caddy

- name: Installation de Mobilizon
  ansible.builtin.import_tasks: mobilizon.yml
  tags: ['mobilizon']

- name: Configuration des backups Borgmatic
  ansible.builtin.template:
    src: borgmatic/mobilizon.yml.j2
    dest: /etc/borgmatic.d/mobilizon-{{ mobilizon_owner }}.yml
    owner: root
    group: root
    mode: "u=rw,go="
    validate: borgmatic config validate --show -c %s
  vars:
    postgresql_db_name: "{{ mobilizon_owner }}"
    postgresql_db_password: "{{ mobilizon_postgresql_password }}"
  tags: ['borgmatic_config']
