{{ ansible_managed | comment }}

<<: !include /etc/borgmatic/template.yml

location:
  source_directories:
    - "/etc/pve"

storage:
  archive_name_format: proxmox_{hostname}-{now}

retention:
  prefix: proxmox_

consistency:
  prefix: proxmox_
