
AUTHENTIK_POSTGRESQL__HOST={{ authentik_postgresql_host }}
AUTHENTIK_POSTGRESQL__PORT={{ authentik_postgresql_port }}
AUTHENTIK_POSTGRESQL__NAME={{ authentik_postgresql_database }}
AUTHENTIK_POSTGRESQL__USER={{ authentik_postgresql_database }}
AUTHENTIK_POSTGRESQL__PASSWORD={{ authentik_postgresql_password }}

AUTHENTIK_SECRET_KEY={{ authentik_secret_key }}
AUTHENTIK_ERROR_REPORTING__ENABLED=false
AUTHENTIK_DISABLE_UPDATE_CHECK=true
AUTHENTIK_AVATARS=initials
AUTHENTIK_DISABLE_STARTUP_ANALYTICS=true

AUTHENTIK_LISTEN__HTTPS=0.0.0.0:9443
AUTHENTIK_LISTEN__HTTP=0.0.0.0:9000

AUTHENTIK_EMAIL__HOST=localhost
AUTHENTIK_EMAIL__FROM={{ authentik_mail_from }}
AUTHENTIK_LISTEN__TRUSTED_PROXY_CIDRS="{{ authentik_proxy_trusted }}"

AUTHENTIK_LOG_LEVEL=warning

AUTHENTIK_STORAGE__MEDIA__BACKEND=s3
AUTHENTIK_STORAGE__MEDIA__S3__ENDPOINT={{ authentik_s3_endpoint }}
AUTHENTIK_STORAGE__MEDIA__S3__ACCESS_KEY={{ authentik_s3_access_key }}
AUTHENTIK_STORAGE__MEDIA__S3__SECRET_KEY={{ authentik_s3_secret_key }}
AUTHENTIK_STORAGE__MEDIA__S3__BUCKET_NAME={{ authentik_s3_bucket }}
