{{ ansible_managed | comment }}

AUTHENTIK_SECRET_KEY={{ authentik_app_secret_key }}
AUTHENTIK_DISABLE_STARTUP_ANALYTICS=true
AUTHENTIK_DISABLE_UPDATE_CHECK=true
AUTHENTIK_ERROR_REPORTING__ENABLED=false

AUTHENTIK_LOG_LEVEL=warning

AUTHENTIK_BOOTSTRAP_PASSWORD={{ authentik_boostrap_password }}
AUTHENTIK_BOOTSTRAP_TOKEN={{ authentik_boostrap_token }}

AUTHENTIK_POSTGRESQL__HOST={{ authentik_postgresql_host }}
AUTHENTIK_POSTGRESQL__NAME={{ authentik_postgresql_database }}
AUTHENTIK_POSTGRESQL__USER={{ authentik_postgresql_user }}
AUTHENTIK_POSTGRESQL__PORT={{ authentik_postgresql_port }}
AUTHENTIK_POSTGRESQL__PASSWORD={{ authentik_postgresql_password }}

AUTHENTIK_REDIS__HOST={{ authentik_redis_host }}
AUTHENTIK_REDIS__PORT={{ authentik_redis_port }}
AUTHENTIK_REDIS__DB={{ authentik_redis_db }}

{% if authentik_ha_mode %}
AUTHENTIK_POSTGRESQL__READ_REPLICAS__0__HOST={{ authentik_postgresql_host_read }}
AUTHENTIK_POSTGRESQL__READ_REPLICAS__0__NAME={{ authentik_postgresql_database }}
AUTHENTIK_POSTGRESQL__READ_REPLICAS__0__USER={{ authentik_postgresql_user }}
AUTHENTIK_POSTGRESQL__READ_REPLICAS__0__PORT={{ authentik_postgresql_port_read }}
AUTHENTIK_POSTGRESQL__READ_REPLICAS__0__PASSWORD={{ authentik_postgresql_password }}

AUTHENTIK_STORAGE__MEDIA__BACKEND=s3
AUTHENTIK_STORAGE__MEDIA__S3__ENDPOINT={{ authentik_s3_endpoint }}
AUTHENTIK_STORAGE__MEDIA__S3__ACCESS_KEY={{ authentik_s3_access_key }}
AUTHENTIK_STORAGE__MEDIA__S3__SECRET_KEY={{ authentik_s3_secret_key }}
AUTHENTIK_STORAGE__MEDIA__S3__BUCKET_NAME={{ authentik_s3_bucket }}
AUTHENTIK_STORAGE__MEDIA__S3__CUSTOM_DOMAIN={{ authentik_s3_custome_domain }}
{% endif %}
