authentication.fallback-admin.secret = "{{ stalwart_admin_password }}"
authentication.fallback-admin.user = "{{ stalwart_admin_username }}"
directory.internal.store = "rocksdb"
directory.internal.type = "internal"
server.hostname = "{{ stalwart_hostname }}"
server.http.use-x-forwarded = true
server.http.url = "{{ stalwart_http_url }}"
server.listener.imaptls.bind.0000 = "[::]:993"
server.listener.imaptls.protocol = "imap"
server.listener.imaptls.tls.implicit = true
server.listener.management.bind = "[::1]:8080"
server.listener.management.protocol = "http"
server.listener.management.proxy.override = false
server.listener.management.socket.override = false
server.listener.management.tls.implicit = false
server.listener.management.tls.override = false
server.listener.sievetls.bind = "[::]:4190"
server.listener.sievetls.protocol = "managesieve"
server.listener.sievetls.proxy.override = false
server.listener.sievetls.socket.override = false
server.listener.sievetls.tls.implicit = false
server.listener.sievetls.tls.override = false
server.listener.smtp.bind.0000 = "[::]:25"
server.listener.smtp.protocol = "smtp"
server.listener.submissions.bind.0000 = "[::]:465"
server.listener.submissions.protocol = "smtp"
server.listener.submissions.tls.implicit = true
server.max-connections = 8192
server.socket.backlog = 1024
server.socket.nodelay = true
server.socket.reuse-addr = true
server.socket.reuse-port = true
session.rcpt.catch-all = true
storage.blob = "rocksdb"
storage.data = "rocksdb"
storage.directory = "internal"
storage.fts = "rocksdb"
storage.lookup = "rocksdb"
store.rocksdb.path = "{{ stalwart_storage_path }}/rocksdb"
store.rocksdb.type = "rocksdb"
tracer.stdout.ansi = false
tracer.stdout.enable = true
tracer.stdout.level = "info"
tracer.stdout.type = "stdout"
certificate."default".cert = "%{file:{{ stalwart_storage_path }}/certificates/{{ stalwart_hostname }}/fullchain.pem}%"
