{{ ansible_managed | comment }}

http://{{ dokuwiki_domain }} {
    root * /var/www/{{ dokuwiki_owner }}/dist
    encode gzip zstd
    file_server

    php_fastcgi unix//var/run/php/php{{ php_version }}-{{ dokuwiki_owner }}.sock {
        trusted_proxies {{ caddy_trusted_proxies | join(' ') }}
    }

    @forbidden {
        path /data/*
        path /conf/*
        path /bin/*
        path /inc/*
        path /install.php
    }
    respond @forbidden 403

    try_files {path} {path}/index.html

    route {
        handle_path /_media/* {
            rewrite * /lib/exe/fetch.php?media={path}&{query}
        }
        handle_path /_detail/* {
            rewrite * /lib/exe/detail.php?media={path}&{query}
        }
        handle /_export/* {
            @export path_regexp export ^/_export/([^/]+)/(.*)
            rewrite @export /doku.php?do=export_{re.export.1}&{query}&id={re.export.2}
        }
        handle / {
            rewrite * /doku.php?{query}
        }
        try_files {path} /doku.php?id={path}&{query}
    }

    log {
        output file /var/log/caddy/{{ dokuwiki_owner }}.log
    }
}
