[defaults]
roles_path=./roles
retry_files_enabled = False
host_key_checking = False
interpreter_python = /usr/bin/python3
vars_plugins = ./plugins/vars
inventory = ./inventories/hosts.ini

[ssh_connection]
pipelining = True
scp_if_ssh = True
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null

[vars_users]
