[ssh_connection]
pipelining=True
ssh_args = -C -o ControlMaster=auto -o ControlPersist=3600s -o UserKnownHostsFile=/dev/null

[defaults]
display_skipped_hosts = False
roles_path=./roles
retry_files_enabled = False
host_key_checking = False
interpreter_python = /usr/bin/python3
inventory = inventories/production/production.ini

gathering = smart
fact_caching_timeout = 86400
fact_caching = memory
forks=25

vault_password_file = vault.key

callbacks_enabled = log_plays

[callback_log_plays]
log_folder = ./log
