ansible~=12.0
ansible-core~=2.19
ansible-lint~=26.4
ansible-compat~=26.4
# See https://github.com/ansible-community/molecule-plugins/issues/301
molecule~=25.1.0
molecule-plugins[vagrant]~=25.8
pre-commit~=4.5
python-vagrant~=1.0.0
mitogen~=0.3
passlib~=1.7.4
dnspython~=2.8.0
