ansible==4.0.0
ansible-core==2.11.1
ansible-lint==5.0.11
appdirs==1.4.4
bracex==2.1.1
cffi==1.14.5
cfgv==3.3.0
colorama==0.4.4
commonmark==0.9.1
cryptography==3.4.7
distlib==0.3.1
enrich==1.2.6
filelock==3.0.12
identify==2.2.6
Jinja2==3.0.1
MarkupSafe==2.0.1
nodeenv==1.6.0
packaging==20.9
pre-commit==2.13.0
pycparser==2.20
Pygments==2.9.0
pyparsing==2.4.7
PyYAML==5.4.1
resolvelib==0.5.4
rich==10.2.2
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
six==1.16.0
tenacity==7.0.0
toml==0.10.2
virtualenv==20.4.7
wcmatch==8.2
molecule~=3.2.2
molecule-vagrant==0.6.1
python-vagrant~=0.5.15
