{{ ansible_managed | comment }}

# live dns v5 api key
dns_gandi_api_key={{ letsencrypt.dns_gandi_api_key }}

# optional organization id, remove it if not used
dns_gandi_sharing_id={{ letsencrypt.dns_gandi_sharing_id }}
