#jinja2: variable_start_string:'{{{', variable_end_string: '}}}'
{{{ ansible_managed | comment }}}

groups:
  - name: Backup
    rules:
      - alert: Backup Borgmatic Failed
        for: 5m
        expr: sum by (instance) (count_over_time(systemd_units_active_code{name="borgmatic.service", active="failed"}[1d])) / sum by (instance) (count_over_time(systemd_units_active_code{name="borgmatic.service"}[1d])) > 0.5
        labels:
          severity: warning
          frequency: daily
        annotations:
          description: 'Borgmatic backups on host {{ $labels.instance }} failed several times within 24h (failure ratio: {{ $value }})'
          summary: 'Borgmatic backups failed within 24h'
