#jinja2: variable_start_string:'{{{', variable_end_string: '}}}'
{{{ ansible_managed | comment }}}

groups:
  - name: Health
    rules:
      - alert: Instance Down
        for: 5m
        expr: |-
{% for host in groups.all %}
          absent(static_heartbeat{instance="{{{ host }}}"}) == 1{% if not loop.last %} OR {% endif %}

{% endfor %}
        labels:
          severity: critical
        annotations:
          description: 'Instance {{ $labels.instance }} is down'
          summary: 'Instance is down'

  - name: Backup
    rules:
      - alert: Backup Borgmatic Failed
        for: 5m
        # We trigger an alert only if several backups failed within 24h.
        # It's not a problem if we miss one or two backups during the day, since we create a backup every 3h.
        # In short, we trigger an alert if more than 4 backups failed (24h / 3h = 8 backups per day)
        expr: sum by (instance) (count_over_time(node_systemd_unit_state{name="borgmatic.service", state="failed"}[1d])) / sum by (instance) (count_over_time(node_systemd_unit_state{name="borgmatic.service"}[1d])) > 0.5
        labels:
          severity: warning
          frequency: daily
        annotations:
          description: 'Borgmatic backups on host {{ $labels.instance }} failed several times within 24h (failure ratio: {{ $value }})'
          summary: 'Borgmatic backups failed within 24h'
