#jinja2: variable_start_string:'{{{', variable_end_string: '}}}'
{{{ ansible_managed | comment }}}

groups:
  - name: Caddy
    rules:
      - alert: Caddy High HTTP 5xx Error Rate
        for: 0m
        expr: sum without (code) (rate(caddy_http_request_duration_seconds_count{code=~"5.."}[5m])) / sum without (code) (rate(caddy_http_request_duration_seconds_count[5m])) > 0.1
        labels:
          severity: critical
        annotations:
          summary: 'Caddy HTTP 5xx error rate is at {{ humanizePercentage $value }}% for {{ $labels.host }}'
          description: '[{{ $labels.instance }}] [{{ $labels.host }}] Caddy HTTP 5xx error rate is > 10% in the last 5 minutes (current = {{ humanizePercentage $value }}%)

      - alert: Caddy High HTTP 4xx Error Rate
        for: 0m
        expr: sum without (code) (rate(caddy_http_request_duration_seconds_count{code=~"4.."}[5m])) / sum without (code) (rate(caddy_http_request_duration_seconds_count[5m])) > 0.5
        labels:
          severity: warning
        annotations:
          summary: 'Caddy HTTP 4xx error rate is at {{ humanizePercentage $value }}% for {{ $labels.host }}'
          description: '[{{ $labels.instance }}] [{{ $labels.host }}] Caddy HTTP 4xx error rate is > 50% in the last 5 minutes (current = {{ humanizePercentage $value }}%)

      - alert: Caddy Reverse Proxy Down
        expr: caddy_reverse_proxy_upstreams_healthy == 0
        for: 15m
        labels:
          severity: critical
        annotations:
          summary: Caddy reverse proxy to {{ $labels.upstream }} is down.
          description: "[{{ $labels.instance }}] Caddy reverse proxy to {{ $labels.upstream }} is down."
