#jinja2: variable_start_string:'{{{', variable_end_string: '}}}'
{{{ ansible_managed | comment }}}

groups:
  - name: Hardware
    rules:
      - alert: Disk failure
        for: 5m
        expr: smart_device_health_ok != 1
        labels:
          severity: critical
          frequency: monthly
        annotations:
          description: 'Disk /dev/{{ $labels.device }} is failing on host {{ $labels.host }}'
          summary: 'Disk /dev{{ $labels.device }} is failing'

      - alert: RAID disk failure
        for: 5m
        expr: mdstat_DisksFailed != 0
        labels:
          severity: critical
          frequency: monthly
        annotations:
          description: 'RAID {{ $labels.name }} has {{ $value }} failed devices on host {{ $labels.host }}. Remaining devices are: {{ $labels.devices }}'
          summary: 'RAID {{ $labels.name }} has {{ $value }} failed devices'

      - alert: RAID disk down
        for: 5m
        expr: mdstat_DisksDown != 0
        labels:
          severity: critical
          frequency: monthly
        annotations:
          description: 'RAID {{ $labels.name }} has {{ $value }} devices down on host {{ $labels.host }}. Remaining devices are: {{ $labels.devices }}'
          summary: 'RAID {{ $labels.name }} has {{ $value }} devices down'
