#jinja2: variable_start_string:'{{{', variable_end_string: '}}}'
{{{ ansible_managed | comment }}}

{% if postgresql_patroni_hosts | length > 0 %}
groups:
  - name: Patroni
    rules:
      - alert: Patroni Primary
        for: 5m
        expr: sum by (scope) (patroni_primary) != 1
        labels:
          severity: critical
        annotations:
          summary: 'Incorrect number of primary server for the Patroni cluster.'
          description: '[Patroni cluster {{ $labels.scope }}]  Incorrect number of primary server: {{ $value }}.'

      - alert: Patroni Replica
        for: 15m
        expr: sum by (scope) (patroni_replica) != 2
        labels:
          severity: warning
        annotations:
          summary: 'Incorrect number of replica server for the Patroni cluster.'
          description: '[Patroni cluster {{ $labels.scope }}] Incorrect number of replica server: {{ $value }}.'

      - alert: PostgreSQL Running
        for: 5m
        expr: >
{% for host in postgresql_patroni_hosts %}
          patroni_postgres_running{host="{{{ host }}}"} == 0{% if not loop.last %} OR {% endif %}

{% endfor %}
        labels:
          severity: critical
        annotations:
          summary: 'PostgreSQL is not running in the Patroni cluster.'
          description: '[{{ $labels.instance }}] [Patroni cluster {{ $labels.scope }}] PostgreSQL is not running.'

      - alert: PostgreSQL Behind Timeline
        for: 10m
        expr: stdvar by (scope) (patroni_postgres_timeline) > 0
        labels:
          severity: warning
        annotations:
          description: '[Patroni cluster {{ $labels.scope }}] PostgreSQL is deviating from the main timeline.'
          summary: 'PostgreSQL is deviating from the main timeline.'

  - name: Etcd
    rules:
      - alert: Etcd Cluster Size
        for: 15m
        expr: count(etcd_server_id) != 3
        labels:
          severity: critical
        annotations:
          description: 'Incorrect number of hosts for the Etcd cluster: {{ $labels.value }}.'
          summary: 'Incorrect number of hosts for the Etcd cluster.'

      - alert: Etcd Leader
        for: 5m
        expr: etcd_server_has_leader != 1
        labels:
          severity: critical
        annotations:
          description: 'Etcd cluster has no leader on instance {{ $labels.instance }}.'
          summary: 'Etcd cluster has no leader.'

      - alert: Etcd Health
        for: 5m
        expr: etcd_server_health_success == 0
        labels:
          severity: warning
        annotations:
          description: 'Etcd server is unhealthy on instance {{ $labels.instance}}.'
          summary: 'Etcd server is unhealthy.'

      - alert: Etcd Leader Changes
        expr: 'increase(etcd_server_leader_changes_seen_total[1h]) >= 5'
        for: 0m
        labels:
          severity: warning
        annotations:
          summary: Etcd high number of leader changes (instance {{ $labels.instance }})
          description: "[{{ $labels.instance }}] Etcd leader changed >= 5 times during last 1h (current = {{ $value }})"

      - alert: Etcd Member Communication Slow
        expr: histogram_quantile(0.99, rate(etcd_network_peer_round_trip_time_seconds_bucket[1m])) > 0.15
        for: 5m
        labels:
          severity: warning
        annotations:
          summary: Etcd member communication slow
          description: "[{{ $labels.instance }}] Etcd member communication slowing down, 99th percentile is > 0.15s (current = {{ $value }})"

      - alert: Etcd High Number Of Failed Proposals
        expr: increase(etcd_server_proposals_failed_total[1h]) > 5
        for: 5m
        labels:
          severity: warning
        annotations:
          summary: Etcd high number of failed proposals
          description: "[{{ $labels.instance }}] Etcd server got > 5 failed proposals in past hour (current = {{ $value }})"
{% endif %}
