#jinja2: variable_start_string:'{{{', variable_end_string: '}}}'
{{{ ansible_managed | comment }}}

groups:
  - name: VPN
    rules:
      - alert: VPN Down
        for: 5m
        expr: check_openvpn_state != 0
        labels:
          severity: critical
          category: probe.vpn
        annotations:
          description: 'Unable to reach the VPN server at {{ $labels.address }}:{{ $labels.port }} with {{ $labels.protocol }} from {{ $labels.instance }}.'
          summary: 'VPN server is down.'

      - alert: VPN Few IPv4 Left
        for: 5m
        expr: openvpn_left_ipv4_value < 5
        labels:
          severity: warning
          frequency: daily
        annotations:
          description: 'There are only {{ $value }} IPv4 left for the VPN'
          summary: 'Few IPv4 left for the VPN'

      - alert: Neutrinet VPN Client Down
        for: 5m
        expr: prometheus_neutrinet_vpn_connected != 1
        labels:
          severity: critical
          frequency: daily
          matrix: dm
        annotations:
          description: 'Neutrinet client VPN {{ $labels.client_id }} with IP address {{ $labels.ip_address }}{{ if $labels.reverse }} and reverse DNS {{ $labels.reverse }}{{ end }} is down.'
          summary: Neutrinet client VPN with IP address {{ $labels.ip_address }}{{ if $labels.reverse }} and reverse DNS {{ $labels.reverse }}{{ end }} is down
