description: Bridged networking LXD profile for Neutrinet
devices:
  eth0:
    name: eth0
    nictype: bridged
    parent: {{ lxd_bridge_name }}
    type: nic
  root:
    path: /
    pool: default
    type: disk