{{ ansible_managed | comment(decoration=';')}}

[{{ web_app_owner }}]
user = {{ web_app_owner }}
group = {{ web_app_owner }}

listen = /var/run/php/php{{ php_version }}-{{ web_app_owner }}.sock
listen.owner = caddy
listen.group = caddy
listen.mode = "0660"

pm = ondemand
pm.max_children = 5
pm.process_idle_timeout = 10s
pm.max_requests = 500
pm.status_path = /status

request_terminate_timeout = 900

php_admin_value[output_buffering] = false
php_admin_value[memory_limit] = 1024M
php_admin_value[date.timezone] = Europe/Brussels
php_value[upload_max_filesize] = 512M
php_admin_value[post_max_size] = 4096M
php_flag[display_errors] = false

env[HOSTNAME] = $HOSTNAME
env[TMP] = /var/www/{{ web_app_owner }}/tmp
env[TMPDIR] = /var/www/{{ web_app_owner }}/tmp
env[TEMP] = /var/www/{{ web_app_owner }}/tmp
env[PATH] = /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

php_admin_value[session.cookie_httponly] = true
php_admin_value[session.use_only_cookies] = true
php_admin_value[session.cookie_secure] = true
{% if php_fpm_session_name %}
php_admin_value[session.name] = {{ php_fpm_session_name | to_json }}
{% endif %}
