{{ ansible_managed | comment }}

<<: !include /etc/borgmatic.d/common.yml

source_directories: !retain
  - "/opt/alertmanager/{{ alertmanager_version }}"
  - "/etc/alertmanager"
  - "/var/lib/alertmanager"
  - "/etc/systemd/system/alertmanager.service"
  - "/etc/victoriametrics/conf.d/alertmanager.yml"
  - "/etc/victoriametrics/rules.d"

archive_name_format: alertmanager_{hostname}-{now}
