{{ ansible_managed | comment }}

<<: !include /etc/borgmatic/template.yml

location:
  source_directories:
    - "/opt/matrix-goneb"
    - "/etc/systemd/system/matrix-goneb.service"

storage:
  archive_name_format: matrix-goneb_{hostname}-{now}

retention:
  prefix: matrix-goneb_

consistency:
  prefix: matrix-goneb_
