{{ ansible_managed | comment }}

<<: !include /etc/borgmatic.d/common.yml

source_directories: !retain
  - "/etc/matrix-alertbot"
  - "/var/lib/matrix-alertbot"
  - "/etc/systemd/system/matrix-alertbot.service"

archive_name_format: matrix-alertbot_{hostname}-{now}
