{{ ansible_managed | comment }}

[Unit]
Description=Prometheus exporter for machine metrics
Documentation=https://github.com/prometheus/node_exporter

[Service]
Restart=on-failure
User=node-exporter
Group=node-exporter
EnvironmentFile=/etc/default/node-exporter
ExecStart=/usr/local/bin/node-exporter "$ARGS"
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
