- name: Installation de la cles gpg via .deb
  ansible.builtin.apt:
    deb: https://packages.sury.org/debsuryorg-archive-keyring.deb

- name: Ajout du dépôt pour Sury
  ansible.builtin.apt_repository:
    repo: deb [signed-by=/usr/share/keyrings/deb.sury.org-php.gpg] https://packages.sury.org/php/ {{ ansible_distribution_release }} main
    filename: sury-php
    state: present

- name: Installation de PHP et PHP-FPM
  ansible.builtin.package:
    name:
      - php{{ php_version }}
      - php{{ php_version }}-fpm
    state: present

- name: Installation des modules PHP par défaut
  ansible.builtin.package:
    name: "{{ php_module }}"
    state: present
  loop:
    - cli
    - curl
    - gd
    - mbstring
    - opcache
    - xml
    - zip
  loop_control:
    loop_var: module_name
    label: "{{ php_module }}"
  vars:
    php_module: php{{ php_version }}-{{ module_name }}

- name: Installation des modules PHP additionnels
  ansible.builtin.package:
    name: "{{ php_module }}"
    state: present
  loop: "{{ php_extra_modules }}"
  loop_control:
    loop_var: module_name
    label: "{{ php_module }}"
  vars:
    php_module: php{{ php_version }}-{{ module_name }}

- name: Installation de imagemagick
  ansible.builtin.package:
    name: imagemagick
    state: present
  when: "'imagick' in php_extra_modules"

- name: Activation de APCu pour php-cli
  ansible.builtin.copy:
    content: |
      apc.enabled=1
      apc.enable_cli=1
    dest: /etc/php/{{ php_version }}/cli/conf.d/99-apcu.ini
    owner: root
    group: root
    mode: "u=rw,go=r"
  when: "'apcu' in php_extra_modules"

- name: Copie de la configuration OPCache
  ansible.builtin.template:
    src: opcache.ini.j2
    dest: /etc/php/{{ php_version }}/fpm/conf.d/99-opcache.ini
    owner: root
    group: root
    mode: "u=rw,go=r"
  notify:
    - Reload php-fpm
  tags: ['php_config']

- name: Activation de php{{ php_version }}-fpm au démarrage
  ansible.builtin.service:
    name: php{{ php_version }}-fpm
    state: started
    enabled: true
