{{ ansible_managed | comment }}

<<: !include /etc/borgmatic/template.yml

location:
  source_directories:
    - "/etc/gitlab-runner"
    - "/etc/docker"

storage:
  archive_name_format: gitlab-runner_{hostname}-{now}

retention:
  prefix: gitlab-runner_

consistency:
  prefix: gitlab-runner_
