{{ ansible_managed | comment }}

<<: !include /etc/borgmatic.d/common.yml

source_directories: !retain
  - "/etc/caddy/conf.d/{{ domain_owner }}.conf"
  - "/var/www/{{ domain_owner }}/dist"

archive_name_format: web-static-{{ domain_owner }}_{hostname}-{now}
