{{ ansible_managed | comment }}

<<: !include /etc/borgmatic/template.yml

location:
  source_directories:
    - "/etc/ceph"

storage:
  archive_name_format: ceph_{hostname}-{now}

retention:
  prefix: ceph_

consistency:
  prefix: ceph_
