{{ ansible_managed | comment }}

http://{{ nextcloud_domain }} {
    root * {{ web_app_dist_dir | to_json }}
    encode gzip
    file_server

    request_body {
        max_size {{ nextcloud_max_upload_size }}
    }

    php_fastcgi unix/{{ php_fpm_socket_file }} {
        env front_controller_active true
        trusted_proxies {{ caddy_trusted_proxies | join(' ') }}
    }

    redir /.well-known/carddav /remote.php/dav 301
    redir /.well-known/caldav /remote.php/dav 301

    @forbidden {
        path /.htaccess
        path /3rdparty/*
        path /config/*
        path /console.php
        path /db_*
        path /data/*
        path /lib/*
        path /occ
        path /templates/*
        path /README
    }

    respond @forbidden 404

    log {
        output file {{ web_app_caddy_log | to_json }}
    }
}
