{{ ansible_managed | comment }}

http://{{ nextcloud_domain }} {
    root * /var/www/{{ nextcloud_owner }}/dist
    encode gzip
    file_server

    request_body {
        max_size {{ nextcloud_max_upload_size }}
    }

    php_fastcgi unix//var/run/php/php{{ php_version }}-{{ nextcloud_owner }}.sock {
        env front_controller_active true
        trusted_proxies {{ caddy_trusted_proxies | join(' ') }}
    }

    redir /.well-known/carddav /remote.php/dav 301
    redir /.well-known/caldav /remote.php/dav 301

    @forbidden {
        path /.htaccess
        path /3rdparty/*
        path /config/*
        path /console.php
        path /db_*
        path /data/*
        path /lib/*
        path /occ
        path /templates/*
        path /README
    }

    respond @forbidden 404

    log {
        output file /var/log/caddy/{{ nextcloud_owner }}.log
    }
}
