{{ ansible_managed | comment }}

type: "remap"
inputs:
    - "prometheus_*"
source: |
    .tags.datacenter = "{{ datacenter_name }}"
    .tags.instance = "{{ inventory_hostname }}"
    .tags.job = "vector-scraper"
    .
