{{ ansible_managed | comment }}

<<: !include /etc/borgmatic.d/common.yml

source_directories: !retain
  - "/var/www/{{ uptime_kuma_owner }}/dist"
  - "/var/www/{{ uptime_kuma_owner }}/uptime-kuma-{{ uptime_kuma_version }}"
  - "/etc/systemd/system/uptime-kuma.service"
  - "/var/lib/uptime-kuma"

archive_name_format: uptime-kuma-{{ uptime_kuma_owner }}_{hostname}-{now}

sqlite_databases:
  - name: "kuma"
    path: "/var/lib/uptime-kuma/kuma.db"
