{{ ansible_managed | comment }}

<<: !include /etc/borgmatic.d/common.yml

location:
  source_directories:
    - "/var/www/{{ uptime_kuma_owner }}/dist"
    - "/var/www/{{ uptime_kuma_owner }}/uptime-kuma-{{ uptime_kuma_version }}"
    - "/etc/systemd/system/uptime-kuma.service"

storage:
  archive_name_format: uptime-kuma-{{ uptime_kuma_owner }}_{hostname}-{now}

retention:
  prefix: uptime-kuma-{{ uptime_kuma_owner }}_

consistency:
  prefix: uptime-kuma-{{ uptime_kuma_owner }}_

hooks:
  sqlite_databases:
    - name: "kuma"
      path: "/var/www/{{ uptime_kuma_owner }}/dist/data/kuma.db"
