{{ ansible_managed | comment }}

<<: !include /etc/borgmatic.d/common.yml

source_directories: !retain
  - "/etc/letsencrypt"
  - "/opt/letsencrypt"

archive_name_format: letsencrypt_{hostname}-{now}
