{{ ansible_managed | comment }}

<<: !include /etc/borgmatic.d/common.yml

source_directories: !retain
  - "/var/www/{{ hedgedoc_owner }}/dist"
  - "/var/www/{{ hedgedoc_owner }}/hedgedoc-{{ hedgedoc_version }}"
  - "/etc/systemd/system/hedgedoc.service"

archive_name_format: hedgedoc-{{ hedgedoc_owner }}_{hostname}-{now}

postgresql_databases:
  - name: "{{ postgresql_db_name }}"
    username: "{{ postgresql_db_name }}"
    password: {{ postgresql_db_password | string | to_json }}
    hostname: "{{ postgresql_host }}"
