{{ ansible_managed | comment }}

[[inputs.prometheus]]
  ## Scrape metrics directly from haproxy's prometheus exporter
  urls = ["http://localhost:8405/metrics"]
  metric_version = 2


# Reads metrics from a SSL certificate
[[inputs.x509_cert]]
  ## List certificate sources
  ## Prefix your entry with 'file://' if you intend to use relative paths
  sources = [
{% for domain in letsencrypt.domains_gandi %}
    "/etc/haproxy/ssl/{{ domain }}.pem",
    "/etc/haproxy/ssl/{{ domain }}-ecdsa.pem"{% if not loop.last %},{% endif %}
{% endfor %}
  ]
