{{ ansible_managed | comment }}

# Read metrics of haproxy, via socket or csv stats page
[[inputs.haproxy]]
  servers = [{{ haproxy_stats_socket_file | to_json }}]

  ## By default, some of the fields are renamed from what haproxy calls them.
  ## Setting this option to true results in the plugin keeping the original
  ## field names.
  # keep_field_names = false


# Reads metrics from a SSL certificate
[[inputs.x509_cert]]
  ## List certificate sources
  ## Prefix your entry with 'file://' if you intend to use relative paths
  sources = [
{% for domain in letsencrypt.domains %}
    "{{ haproxy_ssl_dir }}/{{ domain }}.pem"{% if not loop.last %},{% endif %}
{% endfor %}
  ]
