{{ ansible_managed | comment }}

dns_ovh_endpoint = ovh-eu
dns_ovh_application_key = {{ letsencrypt_dns_ovh_application_key }}
dns_ovh_application_secret = {{ letsencrypt_dns_ovh_application_secret }}
dns_ovh_consumer_key = {{ letsencrypt_dns_ovh_consumer_key }}
