{{ ansible_managed | comment }}

<<: !include /etc/borgmatic.d/common.yml

source_directories: !retain
  - "/etc/caddy/conf.d/{{ dokuwiki_owner }}.conf"
  - "/var/www/{{ dokuwiki_owner }}/dist"
  - "/etc/php/{{ php_version }}/fpm/pool.d/{{ dokuwiki_owner }}.conf"

archive_name_format: dokuwiki-{{ dokuwiki_owner }}_{hostname}-{now}
