{{ ansible_managed | comment }}

# See journald.conf(5) for details.

[Journal]
Storage=persistent
Compress=yes
MaxFileSec=1week
MaxRetentionSec=1year

# Don't duplicate log entries to /var/log/syslog
ForwardToSyslog=no
