{{ ansible_managed | comment }}

<<: !include /etc/borgmatic/template.yml

location:
  source_directories:
    - "/etc/caddy/conf.d/{{ zammad_owner }}.conf"
    - "/opt/zammad"
    - "/etc/zammad"
    - "/etc/elasticsearch"

storage:
  archive_name_format: zammad-{{ zammad_owner }}_{hostname}-{now}

retention:
  prefix: zammad-{{ zammad_owner }}_

consistency:
  prefix: zammad-{{ zammad_owner }}_

hooks:
  postgresql_databases:
    - name: "{{ postgresql_db_name }}"
      username: "{{ postgresql_db_name }}"
      password: {{ postgresql_db_password | string | to_json }}
      hostname: "{{ postgresql_host }}"
