{{ ansible_managed | comment }}

<<: !include /etc/borgmatic.d/common.yml

source_directories: !retain
  - "/etc/caddy/conf.d/{{ zammad_owner }}.conf"
  - "/opt/zammad"
  - "/etc/zammad"
  - "/etc/elasticsearch"

archive_name_format: zammad-{{ zammad_owner }}_{hostname}-{now}

postgresql_databases:
  - name: "{{ postgresql_db_name }}"
    username: "{{ postgresql_db_name }}"
    password: {{ postgresql_db_password | string | to_json }}
    hostname: "{{ postgresql_host }}"
