{{ ansible_managed | comment }}

<<: !include /etc/borgmatic/template.yml

location:
  source_directories:
    - "/opt/prometheus/{{ prometheus_version }}"
    - "/etc/prometheus"
    - "{{ prometheus_storage_path }}/snapshots"
    - "/etc/systemd/system/prometheus.service"

hooks:
  before_backup:
    - curl --fail -X POST http://localhost:9090/api/v1/admin/tsdb/snapshot || exit 75
  after_backup:
    - rm -rf {{ prometheus_storage_path }}/snapshots

storage:
  archive_name_format: prometheus_{hostname}-{now}

retention:
  prefix: prometheus_

consistency:
  prefix: prometheus_
