{{ item }}.         	3600	SOA	ns-alpha.neutrinet.be. hub-infra.neutrinet.be. 2025120601 86400 7200 1209600 3600
{{ item }}.         	3600	NS	ns-alpha.neutrinet.be.
{{ item }}.         	3600	NS	ns-bravo.neutrinet.be.
{{ item }}.         	3600	NS	ns-charlie.neutrinet.be.
{{ item }}.         	3600	NS	ns-delta.neutrinet.be.
