[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple

User=accounting-neutrinet-be

WorkingDirectory=/var/www/accounting.neutrinet.be/accounting

ExecStart=/bin/bash -lc 'bundle exec puma -C /var/www/accounting.neutrinet.be/accounting/config/puma.rb'

Restart=always

[Install]
WantedBy=multi-user.target
