{{ ansible_managed | comment }}

[Unit]
Description=Blacbox exporter
After=network.target

[Service]
Type=simple
User=blackbox-exporter
Group=blackbox-exporter
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/blackbox-exporter \
  --config.file=/etc/blackbox-exporter/config.yml \
  --web.listen-address='localhost:9115'
Restart=always
RestartSec=5

# Systemd hardening
CapabilityBoundingSet=CAP_NET_RAW
AmbientCapabilities=CAP_NET_RAW
LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
RemoveIPC=true
RestrictRealtime=true
RestrictNamespaces=true
RestrictSUIDSGID=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectKernelLogs=true
ProtectClock=true
ProtectHostname=true
ProtectProc=noaccess
ProtectSystem=full
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
