{{ ansible_managed | comment(decoration=';')}}

[{{ web_app_owner }}]
listen = {{ nextcloud_php_socket }}
include = {{ php_fpm_common_config }}

php_admin_value[memory_limit] = {{ nextcloud_php_memory_limit }}
php_admin_value[date.timezone] = {{ nextcloud_timezone }}

; Custom parameters for Nextcloud
env[HOSTNAME] = $HOSTNAME
env[TMP] = /tmp
env[TMPDIR] = /tmp
env[TEMP] = /tmp
env[PATH] = /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
