[Unit]
Description=Matrix AlertBot - A Matrix bot that talks with Alertmanager
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=2s
ExecStart=/usr/local/bin/matrix-alertbot /etc/matrix-alertbot/config.yml
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID

User=matrix-alertbot
Group=matrix-alertbot
WorkingDirectory=/etc/matrix-alertbot
ReadWritePaths=/var/lib/matrix-alertbot

# Systemd hardening
PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=strict
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectClock=true
ProtectHostname=true
CapabilityBoundingSet=
NoNewPrivileges=true
RestrictNamespaces=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictRealtime=true
RestrictSUIDSGID=true
PrivateTmp=true
PrivateUsers=true
RemoveIPC=true
LockPersonality=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
