[Unit]
Description=Matrix Go-NEB - A Matrix bot written in Go
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=2s
ExecStart=/usr/local/bin/matrix-goneb
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID

User=matrix-goneb
Group=matrix-goneb
WorkingDirectory=/opt/matrix-goneb/dist
ReadWritePaths=/opt/matrix-goneb/dist/db
Environment=BIND_ADDRESS=localhost:4050 DATABASE_TYPE=sqlite3 DATABASE_URL=db/go-neb.db?_busy_timeout=5000 BASE_URL=http://localhost:4050 CONFIG_FILE=config.yml

# Systemd hardening
PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=strict
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectClock=true
ProtectHostname=true
CapabilityBoundingSet=
NoNewPrivileges=true
RestrictNamespaces=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictRealtime=true
RestrictSUIDSGID=true
RestrictNamespaces=true
PrivateTmp=true
PrivateUsers=true
RemoveIPC=true
LockPersonality=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
