{{ ansible_managed | comment }}

{% for probe in blackbox_exporter_http_probes %}
[[inputs.prometheus]]
  ## Scrape metrics from Blackbox exporter for {{ probe.name | default(probe.url) }}
  urls = ["http://localhost:9115/probe?target={{ probe.url }}&module={{ probe.name | default(probe.url) }}"]

  metric_version = 2
  timeout = "15s"

  [inputs.prometheus.tags]
    check_cert_expiry = "{{ probe.check_cert_expiry | default(false) | int }}"

{% endfor %}

{% for probe in blackbox_exporter_icmp_probes %}
[[inputs.prometheus]]
  ## Scrape metrics from Blackbox exporter for {{ probe }}
  urls = ["http://localhost:9115/probe?target={{ probe }}&module=icmp"]

  metric_version = 2
  timeout = "15s"

{% endfor %}

[[processors.regex]]
  namepass = ["prometheus"]
  fieldpass = ["probe_*"]

  [[processors.regex.tags]]
    key = "url"
    pattern = "^http://localhost:9115/probe\\?target=(.+)&module=(.+)$"
    replacement = "${2}"
    result_key = "module"

  [[processors.regex.tags]]
    key = "url"
    pattern = "^http://localhost:9115/probe\\?target=(.+)&module=(.+)$"
    replacement = "${1}"
