{{ ansible_managed | comment }}

[Unit]
Description=Bird exporter
After=network.target

[Service]
Type=simple
User=bird-exporter
Group=bird-exporter
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/local/bin/bird-exporter -format.new -bird.v2 -web.listen-address '[::1]:9321' -bird.socket '/var/run/bird/bird.ctl'
Restart=always
RestartSec=5

# Systemd hardening
CapabilityBoundingSet=
AmbientCapabilities=
LockPersonality=true
NoNewPrivileges=true
MemoryDenyWriteExecute=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
RemoveIPC=true
RestrictRealtime=true
RestrictNamespaces=true
RestrictSUIDSGID=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectKernelLogs=true
ProtectClock=true
ProtectHostname=true
ProtectProc=noaccess
ProtectSystem=full
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
