{{ ansible_managed | comment }}

type: prometheus_scrape
endpoints:
{% for probe in blackbox_exporter_icmp_probes %}
    - "http://localhost:9115/probe?target={{ probe }}&module=icmp"
{% endfor %}

scrape_interval_secs: 15
scrape_timeout_secs: 10
