{{ ansible_managed | comment }}

<<: !include /etc/borgmatic.d/common.yml

source_directories: !retain
  - "/etc/caddy/conf.d/{{ nextcloud_owner }}.conf"
  - "/var/www/{{ nextcloud_owner }}/dist"
  - "/etc/php/{{ php_version }}/fpm/pool.d/{{ nextcloud_owner }}.conf"

archive_name_format: nextcloud-{{ nextcloud_owner }}_{hostname}-{now}

postgresql_databases:
  - name: "{{ postgresql_db_name }}"
    username: "{{ postgresql_db_name }}"
    password: {{ postgresql_db_password | string | to_json }}
    hostname: "{{ postgresql_host }}"
