{{ ansible_managed | comment }}

<<: !include /etc/borgmatic.d/common.yml

source_directories: !retain
  - "/etc/caddy/conf.d/{{ web_app_owner }}.conf"
  - "{{ web_app_dist_dir }}"
  - "{{ php_fpm_pool_dir }}/{{ web_app_owner }}.conf"

archive_name_format: nextcloud-{{ web_app_owner }}_{hostname}-{now}

postgresql_databases:
  - name: "{{ postgresql_db_name }}"
    username: "{{ postgresql_db_name }}"
    password: {{ postgresql_db_password | string | to_json }}
    hostname: "{{ postgresql_host }}"
