{{ ansible_managed | comment }}

http://{{ backoffice_domain }} {
    encode gzip zstd

    handle /static/* {
        root * {{ web_app_dist_dir }}/static_deploy
        file_server
    }

    reverse_proxy localhost:5005 {
        transport http {
            response_header_timeout 2m
        }
        trusted_proxies {{ caddy_trusted_proxies | join(' ') }}
    }

    log {
        output file {{ web_app_caddy_log | to_json }}
    }
}
