{{ ansible_managed | comment }}

http://{{ backoffice_domain }} {
    encode gzip zstd

    handle /static/* {
        root * /var/www/{{ backoffice_owner }}/dist/static_deploy
        file_server
    }

    reverse_proxy localhost:5005 {
        transport http {
            response_header_timeout 2m
        }
        trusted_proxies {{ caddy_trusted_proxies | join(' ') }}
    }

    log {
        output file /var/log/caddy/{{ backoffice_owner }}.log
    }
}
