{{ ansible_managed | comment }}

http://{{ backoffice_ffdnapi_domain }} {
    encode gzip zstd
    respond 404

    handle /isp.json {
        reverse_proxy localhost:5005
    }

    log {
        output file {{ caddy_log_dir }}/{{ backoffice_ffdnapi_domain | replace('.', '-') }}.log
    }
}
