{{ ansible_managed | comment }}

http://{{ backoffice_ffdnapi_domain }} {
    encode gzip zstd
    respond 404

    handle /isp.json {
        reverse_proxy localhost:5005 {
            trusted_proxies {{ caddy_trusted_proxies | join(' ') }}
        }
    }

    log {
        output file /var/log/caddy/{{ backoffice_ffdnapi_domain | replace('.', '-') }}.log
    }
}
