[Unit]
Description=Webhook - Lightweight server for creating HTTP endpoints (hooks)
Documentation=https://github.com/adnanh/webhook/
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=2s
ExecStart=/usr/bin/webhook --verbose --port 9000 --hooks /etc/webhook/config.yml

ExecReload = /bin/kill -s USR1 $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID

User={{ webhook_owner }}
Group={{ webhook_group }}

# Systemd hardening
ReadWritePaths={{ webhook_working_dir }}

PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=strict
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectClock=true
ProtectHostname=true
CapabilityBoundingSet=
NoNewPrivileges=true
RestrictNamespaces=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictRealtime=true
RestrictSUIDSGID=true
RestrictNamespaces=true
PrivateTmp=true
PrivateUsers=true
RemoveIPC=true
LockPersonality=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
