{{ ansible_managed | comment }}

<<: !include /etc/borgmatic.d/common.yml

source_directories: !retain
  - "/etc/caddy/conf.d/{{ grav_owner }}.conf"
  - "/var/www/{{ grav_owner }}/dist"
  - "/etc/php/{{ php_version }}/fpm/pool.d/{{ grav_owner }}.conf"

archive_name_format: grav-{{ grav_owner }}_{hostname}-{now}
