{{ ansible_managed | comment }}

# Welcome to the sample config file
# Below you will find various config sections and options
# Default values are shown

# The string to prefix messages with to talk to the bot in group chats
command_prefix: "!alert"

# Options for connecting to the bot's Matrix account
matrix:
  # The Matrix User ID of the bot account
  user_id: "@{{ alertmanager_matrix_username }}:{{ alertmanager_matrix_host }}"

  # Matrix account password (optional if access token used)
  user_password: "{{ alertmanager_matrix_password }}"

  # Path to the file where to store the user access token
  user_token_file: "/var/lib/matrix-alertbot/token.json"

  # The URL of the homeserver to connect to
  url: "https://{{ alertmanager_matrix_host }}"

  # What to name the logged in device
  device_name: matrix-alertbot

  # List of rooms where the bot can interact
  allowed_rooms: ["{{ alertmanager_matrix_alertbot_room }}"]

webhook:
  # Address and port for which the bot should listen to
  address: localhost
  port: 4060

alertmanager:
  # Url to Alertmanager server
  url: http://localhost:9093

cache:
   # The path to a directory for caching alerts and silences
  path: "/var/lib/matrix-alertbot/cache"

storage:
  # The path to a directory for internal bot storage
  # containing encryption keys, sync tokens, etc.
  path: "/var/lib/matrix-alertbot/store"

# Logging setup
logging:
  # Logging level
  # Allowed levels are 'INFO', 'WARNING', 'ERROR', 'DEBUG' where DEBUG is most verbose
  level: INFO
  # Configure logging to a file
  file_logging:
    # Whether logging to a file is enabled
    enabled: false
  # Configure logging to the console output
  console_logging:
    # Whether logging to the console is enabled
    enabled: true
