{{ ansible_managed | comment }}

# Welcome to the sample config file
# Below you will find various config sections and options
# Default values are shown

# The string to prefix messages with to talk to the bot in group chats
command_prefix: "!alert"

# Options for connecting to the bot's Matrix account
matrix:
  accounts:
  - # The Matrix User ID of the bot account
    id: "@{{ alertmanager_matrix_username }}:{{ alertmanager_matrix_host }}"

    # Matrix account password (optional if access token used)
    password: {{ alertmanager_matrix_password | string | to_json }}

    # Path to the file where to store the user access token
    token_file: "/var/lib/matrix-alertbot/token.json"

    # The URL of the homeserver to connect to
    url: "https://{{ alertmanager_matrix_host }}"

  # What to name the logged in device
  device_name: matrix-alertbot

  # List of rooms where the bot can interact
  allowed_rooms:
    - "{{ alertmanager_matrix_alertbot_room }}"

dm:
  filter_labels:
    matrix: dm
  select_label: user_id
  room_title: Neutrinet Alerts for {user}
  users:
{% for user in alertmanager_matrix_alertbot_users %}
    - matrix_id: "{{ user.matrix_id }}"
      select_values:
{% for vpn_uuid in user.vpn_uuids %}
        - "{{ vpn_uuid }}"
{% endfor %}
{% endfor %}

webhook:
  # Address and port for which the bot should listen to
  address: localhost
  port: 4060

alertmanager:
  # Url to Alertmanager server
  url: http://localhost:9093

cache:
   # The path to a directory for caching alerts and silences
  path: "/var/lib/matrix-alertbot/cache"

storage:
  # The path to a directory for internal bot storage
  # containing encryption keys, sync tokens, etc.
  path: "/var/lib/matrix-alertbot/store"

# Logging setup
logging:
  # Configure logging to a file
  file_logging:
    # Whether logging to a file is enabled
    enabled: true
    # Logging level specific to file (optional)
    # Allowed levels are 'INFO', 'WARNING', 'ERROR', 'DEBUG' where DEBUG is most verbose
    level: DEBUG
    # The path to the file to log to. May be relative or absolute
    filepath: /var/log/matrix-alertbot/matrix-alertbot.log
  # Configure logging to the console output
  console_logging:
    # Whether logging to the console is enabled
    enabled: true
    # Logging level specific to console (optional)
    # Allowed levels are 'INFO', 'WARNING', 'ERROR', 'DEBUG' where DEBUG is most verbose
    level: INFO
