{{ ansible_managed | comment }}

modules:
{% for probe in blackbox_exporter_http_probes %}
  {{ probe.name | default(probe.url) }}:
    prober: http
    http:
      method: {{ probe.method | default('GET') }}
{% if probe.url.startswith('https') %}
      fail_if_not_ssl: true
{% endif %}
{% if probe.body is defined %}
      fail_if_body_not_matches_regexp:
        - {{ probe.body | to_json }}
{% endif %}
{% if not ansible_default_ipv6 or (probe.ip_version is defined and probe.ip_version == 4) %}
      preferred_ip_protocol: ip4
{% endif %}
      tls_config:
        insecure_skip_verify: true
{% endfor %}

  tcp:
    prober: tcp
{% if not ansible_default_ipv6 %}
    tcp:
      preferred_ip_protocol: ip4
{% endif %}

  icmp:
    prober: icmp
{% if not ansible_default_ipv6 %}
    icmp:
      preferred_ip_protocol: ip4
{% endif %}

  ssh:
    prober: tcp
    tcp:
      query_response:
      - expect: "^SSH-2.0-"
      - send: "SSH-2.0-blackbox-ssh-check"
