{
    "postgres": {
        "host": "{{ postgresql_host }}:5432",
        "user": "{{ semaphore_owner }}",
        "pass": {{ semaphore_postgresql_password | string | to_json }},
        "name": "{{ semaphore_owner }}",
        "options": {
            "sslmode": "disable"
        }
    },
    "dialect": "postgres",
    "port": "",
    "interface": "",
    "tmp_path": "/tmp/semaphore",
    "ssh_config_path": "",
    "git_client": "",
    "web_host": "https://{{ semaphore_domain }}",
    "cookie_hash": "{{ semaphore_cookie_hash }}",
    "cookie_encryption": "{{ semaphore_cookie_encryption }}",
    "access_key_encryption": "{{ semaphore_access_key_encryption }}",
    "email_alert": {{ semaphore_smtp_enabled | bool | lower }},
{% if semaphore_smtp_enabled %}
    "email_sender": "{{ semaphore_smtp_sender }}",
    "email_host": "{{ semaphore_smtp_host }}",
    "email_port": "{{ semaphore_smtp_port }}",
    "email_username": "{{ semaphore_smtp_username }}",
    "email_password": {{ semaphore_smtp_password | string | to_json }},
    "email_secure": false,
{% endif %}
    "ldap_enable": false,
    "ldap_binddn": "",
    "ldap_bindpassword": "",
    "ldap_server": "",
    "ldap_searchdn": "",
    "ldap_searchfilter": "",
    "ldap_mappings": {
            "dn": "",
            "mail": "",
            "uid": "",
            "cn": ""
    },
    "ldap_needtls": false,
    "telegram_alert": false,
    "telegram_chat": "",
    "telegram_token": "",
    "slack_alert": false,
    "slack_url": "",
    "rocketchat_alert": false,
    "rocketchat_url": "",
    "microsoft_teams_alert": false,
    "microsoft_teams_url": "",
    "oidc_providers": null,
    "max_task_duration_sec": 0,
    "max_tasks_per_template": 0,
    "max_parallel_tasks": 0,
    "runner_registration_token": "",
    "password_login_disable": false,
    "non_admin_can_create_project": false,
    "use_remote_runner": false,
    "runner": {
            "api_url": "",
            "registration_token": "",
            "config_file": "",
            "one_off": false,
            "webhook": "",
            "max_parallel_tasks": 0
    },
    "global_integration_alias": "",
    "apps": null
 }
