{{ ansible_managed | comment }}

{% for domain in [web_app_domain] + web_app_alt_domains %}
http://{{ domain }}{% if not loop.last %}, {% endif %}
{% endfor %} {
    root * /var/www/{{ web_app_owner }}/dist
    encode gzip
    file_server

{% if web_app_php_fpm_enabled %}
    php_fastcgi unix//var/run/php/php{{ php_version }}-{{ web_app_owner }}.sock {
        trusted_proxies {{ caddy_trusted_proxies | join(' ') }}
    }
{% endif %}

    log {
        output file /var/log/caddy/{{ web_app_owner }}.log
    }
}
