---

- name: Configuration de la base de données PostgreSQL
  ansible.builtin.import_role:
    name: postgres_db
  vars:
    postgresql_db_name: "{{ authentik_postgresql_database }}"
    postgresql_db_password: "{{ authentik_postgresql_password }}"

- name: Création de dossiers authentiques
  ansible.builtin.file:
    path: "{{ item }}"
    owner: 1000
    group: 1000
    mode: "u=rwX,g=rX,o="
    state: directory
  loop:
    - /opt/authentik
    - /opt/authentik/media
    - /opt/authentik/templates
    - /opt/authentik/static

- name: Copie de nos images
  ansible.builtin.copy:
    src: "static/{{ item }}"
    dest: "/opt/authentik/static/{{ item }}"
    owner: 1000
    group: 1000
    mode: "ug=r,o="
  loop:
    - flow_background.jpg
    - icon_left_brand.svg
    - icon_left_brand.png
    - icon.png

- name: Créer les variables d'environnement
  ansible.builtin.template:
    src: authentik.env.j2
    dest: /etc/default/authentik
    owner: root
    group: root
    mode: 'ug=r,o='
  notify:
    - Restart authentik

- name: Créer les services
  ansible.builtin.template:
    src: "systemd/{{ item }}.service.j2"
    dest: "/etc/systemd/system/{{ item }}.service"
    owner: root
    group: root
    mode: 'ugo=r'
  loop:
    - authentik-server
    - authentik-worker
  notify:
    - Restart authentik

- name: Activer les service au demarage
  ansible.builtin.service:
    name: "{{ item }}"
    enabled: true
  loop:
    - authentik-server
    - authentik-worker
