---

- name: Configuration de la base de données PostgreSQL
  ansible.builtin.import_role:
    name: postgres_db
  vars:
    postgresql_db_name: "{{ authentik_postgresql_database }}"
    postgresql_db_password: "{{ authentik_postgresql_password }}"

- name: Création de dossiers authentiques
  ansible.builtin.file:
    path: "{{ item }}"
    owner: 1000
    group: 1000
    mode: "u=rwX,g=rX,o="
    state: directory
  loop:
    - /opt/authentik
    - /opt/authentik/media
    - /opt/authentik/templates
    - /opt/authentik/static

- name: Copie de nos images
  ansible.builtin.copy:
    src: "static/{{ item }}"
    dest: "/opt/authentik/static/{{ item }}"
    owner: 1000
    group: 1000
    mode: "ug=r,o="
  loop:
    - flow_background.jpg
    - icon_left_brand.svg
    - icon_left_brand.png
    - icon.png

- name: Créer les variables d'environnement
  ansible.builtin.template:
    src: authentik.env.j2
    dest: /etc/default/authentik
    owner: root
    group: root
    mode: 'ug=r,o='
  notify:
    - Restart authentik-server
    - Restart authentik-worker

- name: Créer le service server
  ansible.builtin.template:
    src: systemd/authentik-server.service.j2
    dest: /etc/systemd/system/authentik-server.service
    owner: root
    group: root
    mode: 'ugo=r'
  notify:
    - Reload systemd
    - Restart authentik-server

- name: Créer le service worker
  ansible.builtin.template:
    src: systemd/authentik-worker.service.j2
    dest: /etc/systemd/system/authentik-worker.service
    owner: root
    group: root
    mode: 'ugo=r'
  notify:
    - Reload systemd
    - Restart authentik-worker

- name: Activer et démarrer le service server
  ansible.builtin.service:
    name: authentik-server
    state: started
    enabled: true

- name: Activer et démarrer le service worker
  ansible.builtin.service:
    name: authentik-worker
    state: started
    enabled: true
