- name: Copie de la configuration Caddy2
  ansible.builtin.template:
    src: "{{ web_app_caddy_template }}"
    dest: /etc/caddy/conf.d/{{ web_app_owner }}.conf
    owner: root
    group: root
    mode: "u=rw,go=r"
    validate: caddy validate --adapter caddyfile --config %s
  notify: Reload caddy

- name: Trigger Caddy handlers
  ansible.builtin.meta: flush_handlers
