{{ ansible_managed | comment }}

ARGS="--web.listen-address=[::1]:9100 --collector.textfile.directory=/var/lib/node-exporter/textfile_collector --collector.filesystem.mount-points-exclude=^/(dev|proc|run|sys|etc/pve)($|/) --collector.logind --collector.systemd --collector.netdev.device-exclude=tap[0-9]+i[0-9]{% if ansible_virtualization_role == 'host' %} --collector.interrupts --collector.meminfo_numa --collector.ethtool{% endif %}"
