{{ ansible_managed | comment }}

<<: !include /etc/borgmatic.d/common.yml

source_directories: !retain
  - "/etc/matterbridge"
  - "/etc/systemd/system/matterbridge.service"

archive_name_format: matterbridge_{hostname}-{now}
