{
    "system": {
        "default_phone_region": "BE",
        "trusted_domains": ["{{ nextcloud_domain }}"],
        "htaccess.RewriteBase": "/",
        "datadirectory": "{{ web_app_dist_dir }}/data",
        "overwrite.cli.url": "https://{{ nextcloud_domain }}",
        "trusted_proxies": {{ caddy_trusted_proxies | list | to_json }},
        "dbtype": "pgsql",
        "dbname": "{{ web_app_owner }}",
        "dbhost": "{{ postgresql_host }}",
        "dbport": 5432,
        "dbuser": "{{ web_app_owner }}",
        "dbpassword": {{ nextcloud_postgresql_password | string | to_json }},
{% if nextcloud_s3_enabled %}
        "objectstore": {
            "class": "\\OC\\Files\\ObjectStore\\S3",
            "arguments": {
                "bucket": "{{ nextcloud_s3_bucket }}",
                "autocreate": false,
                "key": "{{ nextcloud_s3_access_key }}",
                "secret": "{{ nextcloud_s3_secret_key }}",
                "hostname": "{{ nextcloud_s3_host }}",
                "port": {{ nextcloud_s3_port }},
                "use_ssl": true,
                "region": "optional",
                "use_path_style": true
            }
        },
{% else %}
        "objectstore": {},
{% endif %}
        "memcache.local": "\\OC\\Memcache\\APCu"
    }
}
