 import Config

config :mobilizon, Mobilizon.Web.Endpoint,
   server: true,
   url: [host: "{{ mobilizon_domain }}"],
   http: [
     ip: {127,0,0,1},
     port: 4000
    ],
   secret_key_base: "{{ mobilizon_secret_key_base }}"

config :mobilizon, Mobilizon.Web.Auth.Guardian,
  secret_key: "{{ mobilizon_secret_key }}"

config :mobilizon, :instance,
  name: "{{ mobilizon_domain }}",
  description: "Change this to a proper description of your instance",
  hostname: "{{ mobilizon_domain }}",
  registrations_open: false,
  demo: false,
  allow_relay: true,
  federating: true,
  email_from: "{{ mobilizon_email_from }}",
  email_reply_to: "{{ mobilizon_email_reply_to }}"

config :mobilizon, Mobilizon.Storage.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "{{ mobilizon_owner }}",
  password: "neutrinet",
  database: "{{ mobilizon_owner }}",
  hostname: "{{ postgresql_host }}",
  port: "5432",
  pool_size: 10
