{{ ansible_managed | comment }}

http://{{ web_app_domain }} {
    root * /var/www/{{ web_app_owner }}/dist
    encode gzip
    file_server

    @question_mark {
        expression {uri}.contains('?')
    }
    redir @question_mark {path}%3F{query} permanent

    @javascript {
        path /lib/exe/jquery.php*
        path /lib/exe/js.php*
    }
    handle @javascript {
        header Content-Type application/javascript
    }

    handle /lib/exe/css.php* {
        header Content-Type text/css
    }

    log {
        output file /var/log/caddy/{{ web_app_owner }}.log
    }
}
