{{ ansible_managed | comment }}

{% for domain_name in [domain.name] + domain.alt_domains %}
http://{{ domain_name }}{% if not loop.last %}, {% endif %}
{% endfor %} {
    root * /var/www/{{ domain_owner }}/dist
    encode gzip

    @browse {
        path /video*
        path /files*
        path /hypercube*
    }
    file_server @browse browse

    @cfacile {
        host cfacile.{{ domain.name }}
    }
    file_server @cfacile {
        index cfacile.html
    }

    @english {
        host internetcu.be
    }
    file_server @english {
        index en.html
    }

    file_server

    log {
        output file /var/log/caddy/{{ domain_owner }}.log
    }
}
