{{ ansible_managed | comment }}

{% for domain in [web_app_domain] + web_app_alt_domains %}
http://{{ domain }}{% if not loop.last %}, {% endif %}
{% endfor %} {
    root * /var/www/{{ web_app_owner }}/dist
    encode gzip

    @browse {
        path /video*
        path /files*
        path /hypercube*
    }
    file_server @browse browse

    @cfacile {
        host cfacile.{{ web_app_domain }}
    }
    file_server @cfacile {
        index cfacile.html
    }

    @english {
        host internetcu.be
    }
    file_server @english {
        index en.html
    }

    file_server

    log {
        output file /var/log/caddy/{{ web_app_owner }}.log
    }
}
