{{ ansible_managed | comment }}

http://{{ domain.name }} {
    root * /var/www/{{ domain_owner }}/dist
    encode gzip
    file_server {
        hide .*
        index Main_Page.html
    }

    log {
        output file /var/log/caddy/{{ domain_owner }}.log
    }
}
