{{ ansible_managed | comment }}

http://{{ web_app_domain }} {
    root * /var/www/{{ web_app_owner }}/dist
    encode gzip
    file_server
    try_files {path} {path}.html

    log {
        output file /var/log/caddy/{{ web_app_owner }}.log
    }
}
