{{ ansible_managed | comment }}

http://{{ domain.name }} {
    root * /var/www/{{ domain_owner }}/dist
    encode gzip
    file_server
    try_files {path} {path}.html

    log {
        output file /var/log/caddy/{{ domain_owner }}.log
    }
}
