{{ ansible_managed | comment }}

http://{{ web_app_domain }} {
    root * {{ web_app_dist_dir | to_json }}
    encode gzip
    file_server
    try_files {path} {path}.html

    log {
        output file {{ web_app_caddy_log | to_json }}
    }
}
