[program:backoffice]
command={{ web_app_dist_dir }}/env/bin/gunicorn backoffice.wsgi:application -b '[::]:5005' --workers=2
stdout_logfile=/var/log/{{ web_app_owner }}.log
stderr_logfile=/var/log/{{ web_app_owner }}.err.log
directory={{ web_app_dist_dir }}
user={{ web_app_owner }}
