; OPCache
; See https://www.scalingphpbook.com/blog/2014/02/14/best-zend-opcache-settings.html
opcache.enable = true
;; php code will be stored in memory until the php-fpm daemon is reloaded
opcache.validate_timestamps = true
opcache.revalidate_freq = 2
;; number of files stored in memory, must be greater than the codebase
opcache.max_accelerated_files = 10000
;; number of Mb reserved to cache strings
opcache.interned_strings_buffer = 16
opcache.memory_consumption = 128
opcache.save_comments = true
