{{ ansible_managed | comment }}

ARGS="--web.listen-address='localhost:9093'"

# Run prometheus-alertmanager -h to view available options.
#  --web.listen-address=":9093"
#       Address to listen on for the web interface and API.
