{{ ansible_managed | comment }}

[[inputs.prometheus]]
  ## Scrape metrics directly from Ceph
  urls = ["http://localhost:9283/metrics"]
  metric_version = 2

[[processors.override]]
  namepass = ["prometheus"]
  fieldinclude = ["ceph_*"]

  [processors.override.tags]
    ceph_cluster = "{{ ceph_cluster }}"
