{{ ansible_managed | comment }}
ARGS="--storage.tsdb.retention=1y --web.listen-address='{{ prometheus_listen_address }}:9090'"

# Run prometheus -h to view available options.
#  --web.listen-address="0.0.0.0:9090"
#                             Address to listen on for UI, API, and telemetry.
#  --storage.tsdb.retention=15d
#                             How long to retain samples in the storage.
